//****************************************
// Settings
//****************************************
$static_path: '/';
$max-width: 1170px;
$ipad-width: 768px;
$iphone-width: 375px;

//****************************************
// Commonly used colors
//****************************************
$white: #ebecee;
$pure-white: #fff;
$black: #212121;
$pure-black: #000;
$accent: #ffe787;
$success: #A8F3A8;

//****************************************
// Fonts
//****************************************
$serif: Georgia, Times, "Times New Roman", serif;
$walsheim: 'Walsheim', sans-serif;
