<section class="page-error static">
    <h2>Ahhhhhh! This page doesn't exist.</h2>
    <p>Not to worry. You can head back to the <a href="/">home page</a> or you can try to figure out the problem.</p>
    <img src="/img/404.jpg">
</section>
