@font-face {
    font-family: 'Walsheim';
    font-style: italic;
    src: font-url('gt-walsheim-regular-oblique-web.eot');
    src: font-url('gt-walsheim-regular-oblique-web.eot?#iefix') format('embedded-opentype'),
        font-url('gt-walsheim-regular-oblique-web.woff') format('woff'),
        font-url('gt-walsheim-regular-oblique-web.ttf')  format('truetype'),
        font-url('gt-walsheim-regular-oblique-web.svg#svgFontName') format('svg');
}

@font-face {
    font-family: 'Walsheim';
    font-style: normal;
    src: font-url('gt-walsheim-web.eot');
    src: font-url('gt-walsheim-web.eot?#iefix') format('embedded-opentype'),
        font-url('gt-walsheim-web.woff') format('woff'),
        font-url('gt-walsheim-web.ttf')  format('truetype'),
        font-url('gt-walsheim-web.svg#svgFontName') format('svg');
}
